In [1]:
"""
Importation de la librairie pandas qui 
sera utilisée tout au long des scripts
"""

import pandas as pd

In [2]:
"""
On définie deux variables, chacune vont 
lire les csv qui leur sont allouées grâce 
à la fonction read_csv de pandas
"""

df1 = pd.read_csv('BDD/Brut_csv/DatafinitiElectronicsProductData.csv')

df2 = pd.read_csv('BDD/Brut_csv/DatafinitiElectronicsProductsPricingData.csv')

In [3]:
"""
Une nouvelle variable df3 qui est
égale à la concaténation de df1 et df2
pour créer un super csv grâce à 
.append de pandas 
"""

df3 = df1.append(df2, ignore_index=True, sort=False)

In [4]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14548 entries, 0 to 14547
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   14548 non-null  object
 1   asins                14548 non-null  object
 2   brand                14548 non-null  object
 3   categories           14548 non-null  object
 4   colors               5280 non-null   object
 5   dateAdded            14548 non-null  object
 6   dateUpdated          14548 non-null  object
 7   dimension            6090 non-null   object
 8   ean                  4494 non-null   object
 9   imageURLs            14548 non-null  object
 10  keys                 14548 non-null  object
 11  manufacturer         7867 non-null   object
 12  manufacturerNumber   14548 non-null  object
 13  name                 14548 non-null  object
 14  primaryCategories    14548 non-null  object
 15  reviews.date         7238 non-null   object
 16  reviews.dateSeen     7299 non-null   object
 17  reviews.doRecommend  5908 non-null   object
 18  reviews.numHelpful   5813 non-null   float64
 19  reviews.rating       7135 non-null   float64
 20  reviews.sourceURLs   7299 non-null   object
 21  reviews.text         7294 non-null   object
 22  reviews.title        7295 non-null   object
 23  reviews.username     7299 non-null   object
 24  sourceURLs           14548 non-null  object
 25  upc                  14548 non-null  object
 26  weight               14548 non-null  object
 27  prices.amountMax     7249 non-null   float64
 28  prices.amountMin     7249 non-null   float64
 29  prices.availability  7249 non-null   object
 30  prices.condition     7249 non-null   object
 31  prices.currency      7249 non-null   object
 32  prices.dateSeen      7249 non-null   object
 33  prices.isSale        7249 non-null   object
 34  prices.merchant      7249 non-null   object
 35  prices.shipping      4277 non-null   object
 36  prices.sourceURLs    7249 non-null   object
 37  Unnamed: 26          39 non-null     object
 38  Unnamed: 27          18 non-null     object
 39  Unnamed: 28          6 non-null      float64
 40  Unnamed: 29          12 non-null     object
 41  Unnamed: 30          6 non-null      object
dtypes: float64(5), object(37)
memory usage: 4.7+ MB

In [5]:
df3.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'primaryCategories', 'reviews.date',
       'reviews.dateSeen', 'reviews.doRecommend', 'reviews.numHelpful',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'sourceURLs', 'upc', 'weight', 'prices.amountMax',
       'prices.amountMin', 'prices.availability', 'prices.condition',
       'prices.currency', 'prices.dateSeen', 'prices.isSale',
       'prices.merchant', 'prices.shipping', 'prices.sourceURLs',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')

_________________

# Création des csv finale pour la database

In [6]:
df3.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'primaryCategories', 'reviews.date',
       'reviews.dateSeen', 'reviews.doRecommend', 'reviews.numHelpful',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'sourceURLs', 'upc', 'weight', 'prices.amountMax',
       'prices.amountMin', 'prices.availability', 'prices.condition',
       'prices.currency', 'prices.dateSeen', 'prices.isSale',
       'prices.merchant', 'prices.shipping', 'prices.sourceURLs',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')

In [7]:
df3.columns = df3.columns.str.replace(".", "_")

<ipython-input-7-0a678820d646>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df3.columns = df3.columns.str.replace(".", "_")

In [8]:
df3.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'primaryCategories', 'reviews_date',
       'reviews_dateSeen', 'reviews_doRecommend', 'reviews_numHelpful',
       'reviews_rating', 'reviews_sourceURLs', 'reviews_text', 'reviews_title',
       'reviews_username', 'sourceURLs', 'upc', 'weight', 'prices_amountMax',
       'prices_amountMin', 'prices_availability', 'prices_condition',
       'prices_currency', 'prices_dateSeen', 'prices_isSale',
       'prices_merchant', 'prices_shipping', 'prices_sourceURLs',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')

## Table Product_data :

In [9]:
product_data = df3[['id', 'name', 'primaryCategories', 'categories', 'dateAdded', 'dateUpdated', 'colors', 'imageURLs', 'sourceURLs']]

In [10]:
product_data.isnull().sum()

id                      0
name                    0
primaryCategories       0
categories              0
dateAdded               0
dateUpdated             0
colors               9268
imageURLs               0
sourceURLs              0
dtype: int64

In [11]:
product_data = product_data.drop_duplicates("id")

In [12]:
product_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839 entries, 0 to 14537
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 839 non-null    object
 1   name               839 non-null    object
 2   primaryCategories  839 non-null    object
 3   categories         839 non-null    object
 4   dateAdded          839 non-null    object
 5   dateUpdated        839 non-null    object
 6   colors             27 non-null     object
 7   imageURLs          839 non-null    object
 8   sourceURLs         839 non-null    object
dtypes: object(9)
memory usage: 65.5+ KB

In [13]:
product_data.to_csv("BDD/Final_csv/product_data.csv", sep=',', encoding='utf-8', index=False)

## Table Logistics

In [14]:
logistics = df3[['id', 'asins', 'ean', 'upc', 'keys', 'dimension', 'weight']]

In [15]:
logistics.isnull().sum()

id               0
asins            0
ean          10054
upc              0
keys             0
dimension     8458
weight           0
dtype: int64

In [16]:
logistics = logistics.drop_duplicates()

In [17]:
logistics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 14537
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         885 non-null    object
 1   asins      885 non-null    object
 2   ean        169 non-null    object
 3   upc        885 non-null    object
 4   keys       885 non-null    object
 5   dimension  34 non-null     object
 6   weight     885 non-null    object
dtypes: object(7)
memory usage: 55.3+ KB

In [18]:
logistics.to_csv("BDD/Final_csv/logistics.csv", sep=',', encoding='utf-8', index=False)

# Table manufacturer

In [19]:
manufacturer = df3[['manufacturerNumber', 'id', 'manufacturer', 'brand']]

In [20]:
manufacturer.isnull().sum()

manufacturerNumber       0
id                       0
manufacturer          6681
brand                    0
dtype: int64

In [21]:
manufacturer = manufacturer.drop_duplicates()

In [22]:
manufacturer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 849 entries, 0 to 14537
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   manufacturerNumber  849 non-null    object
 1   id                  849 non-null    object
 2   manufacturer        366 non-null    object
 3   brand               849 non-null    object
dtypes: object(4)
memory usage: 33.2+ KB

In [23]:
manufacturer.to_csv("BDD/Final_csv/manufacturer.csv", sep=',', encoding='utf-8', index=False)

# Table Reviews

In [24]:
reviews = df3[['id', 'reviews_date', 'reviews_dateSeen', 'reviews_doRecommend', 'reviews_numHelpful', 'reviews_rating', 'reviews_sourceURLs', 'reviews_text', 'reviews_title', 'reviews_username']]

In [25]:
reviews.isnull().sum()

id                        0
reviews_date           7310
reviews_dateSeen       7249
reviews_doRecommend    8640
reviews_numHelpful     8735
reviews_rating         7413
reviews_sourceURLs     7249
reviews_text           7254
reviews_title          7253
reviews_username       7249
dtype: int64

In [26]:
reviews = reviews.drop_duplicates()

In [27]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8134 entries, 0 to 14537
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8134 non-null   object
 1   reviews_date         7238 non-null   object
 2   reviews_dateSeen     7299 non-null   object
 3   reviews_doRecommend  5908 non-null   object
 4   reviews_numHelpful   5813 non-null   float64
 5   reviews_rating       7135 non-null   float64
 6   reviews_sourceURLs   7299 non-null   object
 7   reviews_text         7294 non-null   object
 8   reviews_title        7295 non-null   object
 9   reviews_username     7299 non-null   object
dtypes: float64(2), object(8)
memory usage: 699.0+ KB

In [28]:
reviews.to_csv("BDD/Final_csv/reviews.csv", sep=',', encoding='utf-8', index=False)

# Table Prices

In [29]:
prices = df3[['id', 'prices_amountMax', 'prices_amountMin', 'prices_availability', 'prices_condition','prices_currency', 'prices_dateSeen', 'prices_isSale', 'prices_merchant', 'prices_shipping', 'prices_sourceURLs']]

In [30]:
prices.isnull().sum()

id                         0
prices_amountMax        7299
prices_amountMin        7299
prices_availability     7299
prices_condition        7299
prices_currency         7299
prices_dateSeen         7299
prices_isSale           7299
prices_merchant         7299
prices_shipping        10271
prices_sourceURLs       7299
dtype: int64

In [31]:
prices = prices.drop_duplicates()

In [32]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7299 entries, 0 to 14547
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   7299 non-null   object
 1   prices_amountMax     7249 non-null   float64
 2   prices_amountMin     7249 non-null   float64
 3   prices_availability  7249 non-null   object
 4   prices_condition     7249 non-null   object
 5   prices_currency      7249 non-null   object
 6   prices_dateSeen      7249 non-null   object
 7   prices_isSale        7249 non-null   object
 8   prices_merchant      7249 non-null   object
 9   prices_shipping      4277 non-null   object
 10  prices_sourceURLs    7249 non-null   object
dtypes: float64(2), object(9)
memory usage: 684.3+ KB

In [33]:
prices.to_csv("BDD/Final_csv/prices.csv", sep=',', encoding='utf-8', index=False)